<h1>
  <%= gravatar_for @user %> 
  <%= @user.name %>
</h1>
<% if current_user.admin? %>
     | <%= link_to "edit", edit_user_path(@user) %>
     | <%= link_to "delete", @user, :method => :delete, :confirm => "You sure?", :title => "Delete #{@user.name}" %>
<% end %>
