<!DOCTYPE html>
<html>
<head>
  <title>JoinOpp | <%= @title%></title>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="pagewidth">
     <div id="header">
     </div>
     <div id="wrapper" class="clearix">
          <div id="twocols">
              <div id="maincol">
		    <%= yield %>
              </div>
              <div id="rightcol">
              </div>
          </div>
          <div id="leftcol">
          </div>
      </div>
      <div id="footer">
      </div>
   </div>
</body>
</html>
